
body{
    background:url("park-troopers-221399-unsplash.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}
h1 {
    border-style:double;
    border-width:20px 10px;
    border-color:pink;
    border-radius:8px;
    font-family: cursive;
    color:purple;
    font-size: 60px;
    background:white;

}

.ratings {
    color:purple;
    font-family: cursive;
    font-size: 18px;
    border-style:double;
    border-width:5px 3px;
    border-color:pink;
    border-radius:8px;
    width:250px;
    text-align:center;
    background:white;

}

.btn-primary {
    margin-left: 10px;
    margin-bottom:10px;
    background: pink;
    color: purple;
}

.btn-primary:hover,.btn-primary:active, .btn-primary:focus {
    background: #2e6da4 !important;
    border-color: purple !important;
}


#princess-input{
    color: purple;
    background-color:pink;
    border-color: #2e6da4;
}

.btn-success{
    color: purple;
    background-color:pink;
    border-color: #2e6da4;
}

.btn-success:hover, .btn-success:active, .btn-success:focus {
    color: white !important;
    background-color:#2e6da4 !important;
    border-color: purple !important;
}

  .col-md-4 {
      margin-bottom:15px;
}

@media screen and (max-width: 480px) {
    .movImage {
        width: 500px;
        height: 500px;
    }
    body {
        background-color:pink;
    }
}

.form-control {
    width: 30%;
}

#add {
    font-size: 20px;
    color:purple;
    border-style:double;
    border-width:10px 5px;
    border-color:pink;
    border-radius:8px;
    font-family: cursive;
    background:white;
}

#footer {
    position:fixed;
    bottom:0;
    width:100%;
    height:30px;
    text-align:center;
    color:white;
}