body {
    background: url("C:/Users/jamie/Desktop/code/GifTastic/assets/images/park-troopers-221399-unsplash.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    border-style:double;
    border-width:20px 10px;
    border-color:pink;
    border-radius:8px;
    font-family: cursive;
    color:purple;
    font-size: 60px;
    background:white;

}

.ratings {
    color:purple;
    font-family: cursive;
    font-size: 18px;
    border-style:double;
    border-width:5px 3px;
    border-color:pink;
    border-radius:8px;
    width:250px;
    text-align:center;
    background:white;

}

.btn-primary {
    margin-left: 10px;
    background: pink;
    color: purple;
}

.btn-primary:hover,.btn-primary:active, .btn-primary:focus {
    background: #2e6da4 !important;
    border-color: purple !important;
}


#princess-input{
    color: purple;
    background-color:pink;
    border-color: #2e6da4;
}

.btn-success{
    color: purple;
    background-color:pink;
    border-color: #2e6da4;
}

.btn-success:hover, .btn-success:active, .btn-success:focus {
    color: white !important;
    background-color:#2e6da4 !important;
    border-color: purple !important;
  }

@media screen and (max-width: 480px) {
    .movImage {
        width: 500px;
        height: 500px;
    }
    body {
        background-color:pink;
    }
}

.form-control {
    width: 30%;
}

#add {
    font-size: 20px;
    color:purple;
    border-style:double;
    border-width:10px 5px;
    border-color:pink;
    border-radius:8px;
    font-family: cursive;
    background:white;
}

#footer {
    position:fixed;
    bottom:0;
    width:100%;
    height:30px;
    text-align:center;
    color:white;
  }